#car-info-form {
    display: flex;
    flex-direction: column;
    border: 10px double rgb(79, 161, 255);
    border-radius: 30px;
    padding: 10px;
}


#make {
    margin-left: 10px;
}

#model {
    margin-left: 10px;
}

#year {
    margin-left: 30px;
}
#submit {
    width: 125px;
    margin-top: 15px;
    margin-left: 75px;
    margin-bottom: 10px;
}
